.app-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5em;
  color: white;
  background-color: #3F51B5;
}

.app-header h1 {
  margin: 0.5em 0 0 0.5em;
  font-size: 1.5em;
}

.app-header .backbutton {
  float: left;
  margin: 0.8em 0.8em 0 0.8em;
}

.app-header + .app-body {
 margin-top: 3.5em; 
}

.backbutton {
  display: inline;
}

.wide-button {
  display: block;
  margin: auto;
  width: 80%;
  height: 3em;
}

.top-margin {
  margin-top: 1em;
}

.double-top-margin {
  margin-top: 2em;
}

.appinfo-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.appinfo-column {
  display: inline-block;
  text-align: center;
}

.vertical-screen-center {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.listitem-container {
  clear: both;
  overflow: auto;
  margin: 0.5em 0.25em 0.25em 0.5em;
}

.listitem-image {
  float: left;
}

.listitem-description {
  margin-left: 0.2em;
}