.app-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5em;
  background-color: blue;
}

.app-header + .app-body {
 margin-top: 3.5em; 
}

.wide-button {
  display: block;
  margin: auto;
  width: 80%;
  height: 3em;
}

.top-margin {
  margin-top: 1em;
}

.double-top-margin {
  margin-top: 2em;
}

.appinfo-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.appinfo-column {
  display: inline-block;
  text-align: center;
}

.vertical-screen-center {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}